.btn_back {
   border: none;
   outline: none;
   padding: 5px 10px;
   display: flex;
   font-size: 1rem;
   background-color: transparent;
   cursor: pointer;
   margin: 0px 0px 10px;
   color: rgb(110, 110, 110);
}
.btn_back:hover {
   filter: brightness(0.8);
}
.btn_back > svg {
   margin-right: 5px;
   transform: scale(1.3);
}
