.block_background_section {
   width: 100%;
   display: flex;
   margin: 50px 0;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-size: 200%;
   background-image: url("../../../image//background_home_feedBback.png");
}
.feed_back_section {
   display: flex;
   width: 1024px;
   align-items: center;
   min-height: 400px;
   justify-content: space-between;
}
.block_main {
   background-color: rgba(255, 255, 255, 0.449);
   height: 250px;
   width: 450px;
   padding: 20px;
   display: flex;
   z-index: 2;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   border-radius: 15px;
}
.block_main h1 {
   text-align: center;
   font-weight: 800;
   padding-bottom: 20px;
}
.block_main p {
   text-align: center;
   margin-bottom: 20px;
   font-weight: 500;
}
.feed_back_section img {
   border: none;
   width: 400px;
}
.button {
   background-color: #fa8b02;
   color: white;
   font-weight: 600;
   padding: 10px 35px;
   outline: none;
   border: none;
   transition: 0.1s;
   font-size: 1.1rem;
   border-radius: 20px;
}
.button:hover {
   filter: brightness(0.9);
   cursor: pointer;
}
@media (max-width: 1100px) {
   .feed_back_section {
      max-width: 900px;
   }
   .block_main h1 {
      font-size: 1.5rem;
   }
   .block_main p {
      font-size: 0.9rem;
   }
}
